.ph-receipt-list {
	.ph-receipt-item {
		display: flex;

		span {
			flex: 1;
		}
	}

	.ph-receipt-date {
		color: #777;
	}

	.ph-receipt-retailer {
		color: #777;
		background-color: #ddd;
		text-align: center;
	}
}